<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">



    <!-- Custom fonts for this template-->
    <link href="public/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="public/css/sb-admin-2.min.css" rel="stylesheet">
    <!-- ========================================= -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <%- include('partial/layoutAdmin'); %>
        <!-- ==================================================================== -->
        <h1 style="text-align: center;">Danh sách user account</h1>
        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal1"
            data-bs-whatever="@mdo">Thêm tài khoản</button>
        <!-- Modal update User============ -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Update user</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- <form> -->
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Email :</label>
                            <input type="text" class="form-control" id="editemail" disabled>
                        </div>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">UserName:</label>
                            <input type="text" class="form-control" id="edituserName">
                        </div>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Password:</label>
                            <input type="text" class="form-control" id="editpassword">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <input type="hidden" id="editid">
                        <button class="btn btn-danger" onclick="updateuser(this)" style="display: inline-block;">Update
                            tài khoản</button>
                    </div>
                    <!-- </form> -->
                </div>
            </div>
        </div>
        <!-- Modal add User============ -->
        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Thêm tài khoản</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- thang nay dung form???????????????????????/ -->
                        <form id="logup_form" method="post">
                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">UserName :</label>
                                <input type="text" class="form-control" name="Tensp" id="userName">
                            </div>
                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Password:</label>
                                <input type="text" class="form-control" name="Giasp" id="password">
                            </div>
                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Email:</label>
                                <input type="text" class="form-control" name="Anhsp" id="email">
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                        <button class="btn btn-danger" style="display: inline-block;">Thêm tài khoản</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <table id="example" class="table table-striped container ">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Email</th>
                    <th scope="col">Username</th>
                    <th scope="col">Password</th>
                    <th scope="col">Thao tác</th>
                </tr>
            </thead>
            <tbody id="body_table"></tbody>
        </table>

        <!-- ====================================================================== -->
        <%- include('partial/layoutAdmin2'); %>
            <script>
                function myFunction() {
                    // console.log("fetch data")
                    let temp = "";
                    fetch("/getListUser")
                        .then(response => response.json())
                        .then(data => {
                            if (data.message.length > 0) {
                                data.message.forEach((itemData) => {
                                    temp += "<tr>";
                                    temp += "<th  scope=`row`>" + itemData._id + "</th>";
                                    temp += "<td>" + itemData.email + "</td>";
                                    temp += "<td>" + itemData.userName + "</td>";
                                    temp += "<td>" + itemData.password + "</td>";
                                    temp += "<td>" + `<button type="button" data-id=${itemData._id} class="btn btn-info editt"
                                data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="edituser(this)"
                                data-bs-whatever="@mdo">Sửa tài khoản</button>` +
                                        `<form >
                                        <button data-id= ${itemData._id} class="btn btn-danger" onclick="deleteuser(this)" style="display: inline-block;"
                                onclick="">Xóa
                                tài khoản
                            </button>
                             </form> `+
                                        "</td>";
                                    temp += "</tr>";
                                });
                            }
                        }).then(() => {
                            document.getElementById('body_table').innerHTML = temp;
                            $('#example').DataTable();
                        })
                        .catch(error => console.log(error));
                }
                myFunction()
            </script>
            <script>
                let tokenjwt = localStorage.getItem("tokenjwt");
                if (!tokenjwt)
                    window.location.href = '/signin';
            </script>
            <script>
                const productForm = document.getElementById('logup_form');
                productForm.addEventListener('submit', (event) => {
                    event.preventDefault();

                    const userName = document.getElementById('userName').value;
                    const password = document.getElementById('password').value;
                    const email = document.getElementById('email').value;

                    const _user = {
                        userName,
                        password,
                        email,
                    };

                    fetch('/adminsignUp', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(_user)
                    })
                        .then(response => {
                            return response.text()
                        }).then(response => {
                            console.log(response)

                            window.location.href = '/admin';
                        })
                });
            </script>
            <script>
                function deleteuser(element) {
                    var result = confirm("Want to delete?");
                    if (result) {
                        //Logic to delete the item
                        const _id = element.getAttribute('data-id');
                        fetch('/deleteUser', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ _id })
                        })
                            .then(response => {
                                return response.text()
                            }).then(response => {
                                console.log(response)
                                window.location.href = '/admin'; // replace with your desired URL
                            })
                    }

                }
            </script>
            <script>
                function edituser(element) {
                    const _id = element.getAttribute('data-id');
                    fetch(`/getUser/${_id}`, {
                        method: 'GET',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                    })
                        .then(response => {
                            return response.text()
                        }).then(response => {
                            const data = JSON.parse(response).data;
                            console.log(data)
                            $('#editemail').val(data.email);
                            $('#edituserName').val(data.userName);
                            $('#editpassword').val(data.password);
                            $('#editid').val(data._id);
                        })
                }
            </script>
            <script>
                function updateuser(element) {
                    // element.event.preventdefault()
                    const userName = document.querySelector('#edituserName').value;
                    const _id = document.querySelector('#editid').value;
                    const password = document.querySelector('#editpassword').value;
                    let _user = {
                        _id,
                        userName,
                        password
                    }//tawts form ???????????
                    fetch(`/updateUser`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ _user })
                    })
                        .then(response => {
                            return response.text()
                        }).then(response => {
                            const data = JSON.parse(response);
                            window.location.href = '/admin';
                        })
                }
            </script>

            <link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css">
            <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
            <script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
            <!-- ====================================================================== -->
</body>


</html>