<!doctype html>
<html lang="en">

<head>
    <title>Login 10</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="public/css/style.css">
</head>

<body class="img js-fullheight" style="background-image: url(public/images/bg.jpg);">
    <section class="ftco-section">
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">
                        <h3 class="mb-4 text-center">Have an account?</h3>
                        <form id="logup_form" class="signin-form">
                            <div class="form-group">
                                <input type="text" id="email" class="form-control" placeholder="Enter your email"
                                    required>
                            </div>
                            <div class="form-group">
                                <input type="text" id="userName" class="form-control" placeholder="Username" required>
                            </div>
                            <div class="form-group">
                                <input id="password" type="password" class="form-control" placeholder="Password"
                                    required>
                                <span toggle="#password-field"
                                    class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            </div>
                            <a href="/signin">Or Sign In</a>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary submit px-3">Sign Up</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        const productForm = document.getElementById('logup_form');
        productForm.addEventListener('submit', (event) => {
            event.preventDefault();

            const userName = document.getElementById('userName').value;
            const password = document.getElementById('password').value;
            const email = document.getElementById('email').value;

            const _user = {
                userName,
                password,
                email,
            };

            fetch('/adminsignUp', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(_user)
            })
                .then(response => {
                    return response.text()
                }).then(response => {
                    console.log(response)
                    window.location.href = '/'; // replace with your desired URL
                })
        });
    </script>

    <script src="public/js/jquery.min.js"></script>
    <script src="public/js/popper.js"></script>
    <script src="public/js/bootstrap.min.js"></script>
    <script src="public/js/main.js"></script>
    <!-- // -->

</body>

</html>